* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style-type: none;
  font-weight: 500;
  font-size: 12px;
  color: white;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: 670px;
}


.main__text__box {
    position: relative;
}

.main__text {
 position: absolute;
 bottom: 130px;
 left: 200px;
}

.main__text-1 {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.main__text-2 {
  font-size: 41px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}

.main__text__btn {
  border: 3px solid white;
  padding: 15px 31px;
  background: transparent;
  color: #fff;
  font-size: 12px;
}